@import "tailwindcss";
@plugin "daisyui";

.header{
  background-image: url("/src/assets/icons/Rectangle\ 1.png");

  background-repeat: no-repeat;
   
}
.active{
  background-color:coral;
  color: rgb(0, 0, 0);
  padding: 4px;
  border-radius: 5px;
  
}